<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whe.dao.T1Mapper">
    <select id="get" parameterType="int" resultType="t1" >
      select * from test.t1 where id = #{id}
    </select>

    <insert
            id="save" parameterType="t1"
            useGeneratedKeys="true">
        insert into test.t1(id, name) values (#{id},#{name})
    </insert>
</mapper>